!!! 5
%html
  %head
    %title Security Calculator
    %link{rel:'stylesheet', href:'/custom.css'}
  %body
    %h1 Welcome to Security Calculator
    - if @current_user
      = "welcome #{@current_user.username} | "
      %a{href: '/logout'}
        logout
    - else
      %a{href: '/login'}
        = "login | "
      %a{href: '/register'}
        = "register"
    = haml :flash_bar
    = yield
